/* General styles for the dashboard */
.ticket-counters {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.counter {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 200px;
    transition: transform 0.3s ease;
}

.counter:hover {
    transform: scale(1.05);
}

.counter h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
}

.counter p {
    font-size: 24px;
    font-weight: bold;
    color: #3498db; /* Main accent color */
}

/* Charts container */
.charts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-top: 30px;
}

.chart {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: box-shadow 0.3s ease;
}

.chart:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.chart h4 {
    margin-bottom: 20px;
    font-size: 18px;
    color: #555;
    font-weight: bold;
}

.chart canvas {
    max-width: 100%;
}

/* Full-width for charts that need extra space */
.full-width {
    grid-column: span 2;
}

/* Heatmap container */
.heatmap {
    background-color: #ffffff;
    border-radius: 10px;
    height: flex; /* Adjust height of the heatmap */
    position: relative;
}

.settings-button{
    align-content: center;
    padding-left: 10px;
    display: block;
    float: right;
    
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .ticket-counters {
        flex-direction: column;
        align-items: center;
    }

    .counter {
        width: 100%;
        margin-bottom: 15px;
    }

    .charts {
        grid-template-columns: 1fr;
    }

    .full-width {
        grid-column: span 1;
    }
}
